@import "../../vars.scss";

.Header {
  padding: 0.6rem;
  box-shadow: $horizontal-box-shadow;
  height: 3.7rem;
  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
